<nav class="mb-2 navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Wagtail Blog Demo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
    </div>
    <ul class="navbar-nav">
      {% for menu_page in blog_page.get_children.live.in_menu %}
        <li>
          <a href="{{ menu_page.url }}" class="nav-link">{{ menu_page.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
</nav>
