{% load wagtailroutablepage_tags %}
{% if post_tags %}
  <div>
    {% for postpage_tag in post_tags %}
      <a href="{% routablepageurl blog_page "post_by_tag" postpage_tag.slug %}" style="text-decoration: none">
        <span class="badge" style="background-color: gray">{{ postpage_tag }}</span>
      </a>
    {% endfor %}
  </div>
{% endif %}
