{% load wagtailroutablepage_tags %}
{% if post_categories %}
  {% for postpage_category in post_categories %}
    <a href="{% routablepageurl blog_page "post_by_category" postpage_category.blog_category.slug %}" style="text-decoration: none; color: black">
      <i class="fas fa-tag"></i>
      {{ postpage_category.blog_category.name }}
    </a>
  {% endfor %}
  &nbsp;
{% endif %}
