{% extends "base.html" %}
{% load static wagtailcore_tags crispy_forms_tags %}

{% block content %}

  <h1>Contact</h1>
  <br>

  <form action="{% pageurl page %}" method="POST">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary" >Submit</button>
  </form>

{% endblock %}
