{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags blogapp_tags static wagtailmetadata_tags %}

{% block meta_tag %}
  {% meta_tags %}
{% endblock %}

{% block content %}
<h1>{{ page.title }}</h1>

{% image page.header_image original as img %}
  <img src="{{ img.url }}" class="img-fluid">

  <h1>{{ page.title }}</h1>
  <hr>

  <div class="categories">
    {% post_categories_list %}
  </div>

  {# body #}
  {% include "blog/components/streamfield.html" %}

  <hr>

  <div class="tags">
    {% post_tags_list %}
  </div>

  <br>

  <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>

{% endblock %}
