{% load static i18n wagtailuserbar %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">

  {% block meta_tag %}

    <title>
      {% block title %}
        {% if self.seo_title %}
          {{ self.seo_title }}
        {% else %}
          {{ self.title }}
        {% endif %}
      {% endblock %}
      {% block title_suffix %}
        {% with self.get_site.site_name as site_name %}
          {% if site_name %}
            - {{ site_name }}
          {% endif %}
        {% endwith %}
      {% endblock %}
    </title>
    <meta name="description" content="{{ page.search_description }}"/>
  {% endblock %}



  {% if page.canonical_url %}
    <link rel="canonical" href="{{ page.canonical_url }}"/>
  {% endif %}
  <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is the second wagtail tutorial">
    <meta name="author" content="Felipe V">

    <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">

    {#  Global Stylesheets #}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

    {% block css %}
    <!-- Your stuff: Third-party CSS libraries go here -->

    <!-- This file stores project-specific CSS -->
    <link href="{% static 'css/project.min.css' %}" rel="stylesheet">
    {% endblock %}
    <!-- Le javascript
    ================================================== -->
    {# Placed at the top of the document so pages load faster with defer #}
    {% block javascript %}
      <!-- Vendor dependencies bundled as one file-->
      <script defer src="{% static 'js/vendors.min.js' %}"></script>

      <!-- place project specific Javascript in this file -->
      <script src="https://kit.fontawesome.com/039c66f325.js" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
      <script src="{% static "js/lazysizes.min.js" %}"></script>
      <script defer src="{% static 'js/project.min.js' %}"></script>

    {% endblock javascript %}

  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% wagtailuserbar %}

    {% include 'blog/components/navbar.html' %}

    <div class="container">
      <div class="row">
        <div class="col-md-8">
          {% block content %}{% endblock %}
        </div>
        {% include 'blog/components/sidebar.html' %}
      </div>
    </div>

    {% include 'blog/components/footer.html' %}

    {% block inline_javascript %}
    {% comment %}
    Script tags with only code, no src (defer by default). To run
    with a "defer" so that you run inline code:
    <script>
      window.addEventListener('DOMContentLoaded', () => {/* Run whatever you want */});
    </script>
    {% endcomment %}
    {% endblock inline_javascript %}
  </body>
</html>
